# Mothpi systemd Service
# See https://man.archlinux.org/man/systemd.unit.5

[Install]
WantedBy=default.target

[Unit]
Description=Mothpi Moth Scanner

[Service]
# Environmental variables from ~/.config/environment.d/mothpi.conf
ExecStart=/usr/bin/env python3  ${MOTHPI_BASEDIR}/mothpi/mothpi.py --config ${MOTHPI_CONFIG}
Restart=on-failure
User=pi
Type=notify
