# See https://man.archlinux.org/man/systemd.unit.5
[Install]
WantedBy=default.target

[Unit]
Description=Mothpi SSH Reverse SSH tunnel

[Service]
# Environmental variables from ~/.config/environment.d/mothpi.conf
ExecStart=ssh -N -R ${MOTHPI_REMOTE_PORT}:localhost:22 ${MOTHPI_SERVER_ADRESS} -p ${MOTHPI_SERVER_PORT}
Restart=on-failure
